<nav id="main-nav" class="left" role="navigation">
  <ul>
    <li class="heading">Getting Started</li>
    <li><a href="#"></a>Quick Rundown</li>
    <li><a href="#"></a>Bower</li>
    <li><a href="#"></a>Github</li>
  </ul>
  <ul>
    <li class="heading">SASS Modules</li>
    <li><a href="#"></a>Typography</li>
    <li><a href="#"></a>Buttons</li>
    <li><a href="#"></a>Forms</li>
    <li><a href="#"></a>Tables</li>
    <li><a href="#"></a>Grid</li>
  </ul>
  <ul>
    <li class="heading">JavaScript</li>
    <li><a href="#"></a>Grunt</li>
    <li><a href="#"></a>AMD with Require JS</li>
    <li><a href="#"></a>Utilities</li>
  </ul>
  <ul>
    <li class="heading">Support</li>
    <li><a href="#"></a>Contact Support</li>
  </ul>
</nav>