<header class="navbar navbar-fixed-top" role="banner">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand"><img src="http://s3.amazonaws.com/jetstrap-site/images/jetstrap_logo.png"></a>
      <ul class="nav pull-right">
        <li><a href="http://jetstrap.com/">Jetstrap</a></li>
        <li><a href="http://jetstrap.com/#about">About</a></li>
        <!--<li><a href="http://jetstrap.com/#love">Love</a></li>-->
        <li><a href="http://blog.jetstrap.com/" target="_blank">Blog</a></li>
        <li><a href="https://github.com/driftyco/jetstrap-docs/tree/gh-pages" target="_blank">Fork This!</a></li>
        <li style="line-height: 59px; vertical-align: middle"><a href="http://jetstrap.com/" class="orange-button">Sign up free</a></li>
      </ul>
    </div>
  </div>
</header>