@import 'helpers.scss',
        'variables.scss',
        'functions.scss',
        'typography.scss';

// Discover a better way to handle 100% height for elements (100% left hand navigation)
.tall {
  @include box-sizing(border-box);
  height: 100%;
}

// Global
body {
  background-color: #f7f7f7;
  font: {
    family: 'Montserrat', Helvetica, sans-serif;
    size  : 13px;
    weight: 400;
  }
  margin: 0;
  padding: 0;
}

a {
  color: $docs-primary-link-color;
  text-decoration: none;
}

// Layout
.docs-main-wrapper {

  @media screen and(min-width: 80px) {
    padding-top: $header-height-desktop + $header-margin-bottom;
  }

  @media screen and(min-width: 640px) {
    padding-top: $header-height-desktop + $header-margin-bottom;
  }

  section {
    @include box-sizing(border-box);
  }

  section {
    &.left {
      border-right: 1px solid #ddd;
      max-width: 221px;
      position: fixed;
      width: 20%;
    }
    &.right {
      width: 80%;
    }
    &[role="main"] {
      @include box-sizing(border-box);
      padding: 0 50px 20px;
    }
  }

}

// Header/Masthead
.docs-navbar {
  @extend %clearfix;
  background: rgba(247, 247, 247, 0.925);
  position: fixed;
  width: 100%;

  @media screen and(min-width: 80px) {
    height: $header-height-desktop - 30;
    margin-bottom: $header-margin-bottom - 20;
  }

  @media screen and(min-width: 640px) {
    height: $header-height-desktop;
    margin-bottom: $header-margin-bottom;
  }

  .logo {
    @extend %clearfix;
    float: left;
    display: inline-block;
    padding-top: 20px;
    width: 240px;

    a {
      @include hi-res('../images/', 'docs-logo', 'png', 43px, 43px, 0, 0, transparent);

      background-repeat: no-repeat;
      color: $docs-secondary-link-color;
      display: block;
      float: left;
      height: 43px;
      margin-right: 12px;
      width: 43px;
    }

    i {
      color: #eee;
      font: {
        size: 12px;
        style: normal;
      }
      display: inline-block;
      padding-top: 8px;
    }
  }

  .docs-top-nav {
    margin: 0;
    padding: 0;

    li {
      float: left;
      list-style: none;
      margin-left: 40px;

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      display: block;
      color: #ebebeb;
      font: {
        size: 12px;
        weight: 700;
      }
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }
}

// Sidebar/Jump-to Navigation
.docs-tertiary-nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    text-indent: 9px;
  }

  a {
    display: block;
    padding: 9px 9px 9px 0;
    position: relative;
    text-decoration: none;

    &:hover {
      background-color: $docs-secondary-link-color;
      color: darken($docs-primary-link-color, 10%);

      // effect to cover blue highlight and grey border
      &:after {
        @extend %content;
        background-color: $docs-secondary-link-color;
        right: -1px;
        width: 1px;
      }
    }

    &.active {
      background-color: #4c4c4c;
      color: #fff;
      cursor: default;

      // effect to cover blue highlight and grey border
      &:after {
        @extend %content;
        background-color: #4c4c4c;
        right: -1px;
        width: 1px;
      }
    }
  }

  .doc-nav-header {
    font: {
      size: 13px;
      weight: 700;
    }
    margin: 20px 0 15px;

    &:first-child {
      margin-top: 0;
    }
  }
}
