.a-left {
  text-align: left !important; }

.a-right {
  text-align: left !important; }

.a-center {
  text-align: center !important; }

.centering {
  margin: 0 auto; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.docs-contain:before, .docs-contain:after {
  clear: both;
  content: "";
  display: table; }

.docs-contain {
  margin: 0 auto;
  max-width: 1400px;
  width: 80%; }

.docs-separator {
  border-bottom: 1px dashed #bbb;
  display: block;
  height: 1px;
  margin: 10px 0;
  width: 100%; }
